/* ----- Print Style Sheet ----- */
@page  {
  page-break-before: bottom;
  margin: 1cm 1cm 2cm;


  @top-left {
    margin-left: 1cm;
    content: element(header);
    padding-left: 10px;
    margin-bottom: 10px;
  }

  @bottom-left-corner {

    border-top: 1px solid #8ea2ca;
  }

  @bottom-left {
    border-top: 1px solid #8ea2ca;
    color: #8ea2ca;
    font-family: helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
   
   
   background-image: url("/resource/1358349269000/ChangeMachineLogoPrint");
       background-size: contain;
       background-repeat: no-repeat;
       background-position: 10px 15px;
       content: "test";
       color: white;
       
    
    width: 3.5cm;
    text-align: top;
    
    
  }
  
    @bottom-center {
  	 border-top: 1px solid #8ea2ca;
  	 content: "test";
  	 
  	  color: white;
       
    }

    @bottom-right {
    
   

     
    }
  /*
    @bottom-right {
      border-top: 1px solid #8ea2ca;
  	 background-image: url("https://cs10.salesforce.com/resource/1355504427000/CMlogoprint");
       background-size: contain;
       background-repeat: no-repeat;
       background-position: 90px 0px;
    }
  */
  @bottom-right-corner {

   
  }
}

header {
	
	
}
body {
  font-family: georgia, serif;
  color: rgba(0, 0, 0, 0.5);
  line-height: 24px;
}
h5 {
  color: #939598;
  font-family: georgia, serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  position: running(header);
 
}
.page-header {
  border-bottom: 3px solid #8ea2ca;
  margin-bottom: 20px;
   
}


ol{
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol{
	margin: 0 0 0 2em; /* Add some left margin for inner lists */
}


.rounded-list a{
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	*padding: .4em;
	margin: .5em 0;
	background: #ddd;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;	
}

.rounded-list a:hover{
	background: #eee;
}

.rounded-list a:hover:before{
    transform: rotate(360deg);	
}

.rounded-list a:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #87ceeb;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}





h1 {
  color: #8ea2ca;
  font-family: helvetica, sans-serif;
  margin-bottom: 10px;
  line-height: 36px;
}
ol,
ul {
  margin: 20px;
  font-family: helvetica, sans-serif;
}
ol li,
ul li {
  font-family: georgia, serif;
  margin-bottom: 10px;
}
strong,
b {
  color: #8ea2ca;
  font-family: helvetica, sans-serif;
  display: inline;
}
li > strong,
li > b {
  color: #8ea2ca;
  font-family: helvetica, sans-serif;
  display: block;
}
blockquote strong,
blockquote b,
p > strong {
  color: #73a534;
  font-family: georgia, serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 5px;
}
a {
  color: #8ea2ca;
}
a:after {
  content: " [" attr(href) "] ";
  color: #8ea2ca;
}


div.footer {
  width: 80%;
  padding-top: 5px;
//  border-top: 1px solid #8ea2ca;
  height: 2cm;
  position: running(thebottom);
}



.tips {
  width: 200px;
  height: 48px;
  color: #8ea2ca;
  font-family: helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  margin: 9px 0 10px 20px;
  
   position: running(footer);
   
  //background-image: url("https://cs10.salesforce.com/resource/1355442534000/ChangeMachineLogo_Footer");
  //background-size: 100px 48px;
  //background-repeat: no-repeat;
  //background-position: 90px 0px;
  border: 1px solid blue;
}
/*
.tips {
  width: 200px;
  height: 48px;
  color: #8ea2ca;
  font-family: helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  margin: 9px 0 10px 20px;
  position: running(thebottom);
  background-image: url("https://cs10.salesforce.com/resource/1355504427000/CMlogoprint");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90px 0px;
}


.partner-logo {
	position: running(thebottom);
	background-image: url("https://cs10.salesforce.com/resource/1355504427000/CMlogoprint");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 90px 0px;
}

.clinic-logo {
	position: running(clinic);
	background-image: url("https://cs10.salesforce.com/resource/1355504427000/CMlogoprint");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 90px 0px;
}
*/