@import "bootstrap.less";

.proximaL {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
}
.proximaR {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
}
.proximaB {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 700;
}

.proximaBL {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 900;
}
.metaBook {
	font-family: "ff-meta-serif-web-pro",serif;
	font-style: normal;
	font-weight: 500;
}
.metaBold {
	font-family: "ff-meta-serif-web-pro",serif;
	font-style: normal;
	font-weight: 700;
}

/*
.transition-duration(@transition-duration) {
  -webkit-transition-delay: @transition-duration;
     -moz-transition-delay: @transition-duration;
       -o-transition-delay: @transition-duration;
          transition-delay: @transition-duration;
}
*/

.transition-duration(@transition-duration) {
  -webkit-transition-duration: @transition-duration;
     -moz-transition-duration: @transition-duration;
       -o-transition-duration: @transition-duration;
          transition-duration: @transition-duration;
}

.intro-tansition {
  -webkit-transition-delay: .7;
     -moz-transition-delay: .7;
       -o-transition-delay: .7;
          transition-delay: .7;
}

/* -------------------------------------------------------------------------------- */

// BASIC RESET


/*
.topWrapper .header-block {
	margin-left: 14px !important;
}
*/

.home-page .well {
	margin-top: 20px;
}



/*
body {
	background-color: @blue;
	color: @white;
	font-size: 16px;
	line-height: 1.5625em;
}
*/

#sequence {
	background-color: @blue;
	color: @white;
	font-size: 16px;
	line-height: 1.5625em;
	h1 {
		.proximaB();
		text-align: center;
		font-size: 2.55em;
		line-height: 1.25em;
		color: @white;
		text-transform: none;
	}
	
	h2 {
		.proximaB();
		font-size: 2.55em;
		line-height: 1.1em;
	}
	
	h3 {
		.metaBook();
	}
	
	h4 {
		.proximaL();
		font-size: .8em;
		line-height: 1.4em;
		color: @white;
	}
	
	h5 {
		.proximaL();
		font-size: 3.3em;
		line-height: 1.3em;
	}
}


/* -------------------------------------------------------------------------------- */

// SEQUENCE INTRO

.sequence-wrapper {
	height: 400px;
	width: 956px;
	margin: 0 -10px;
	overflow: hidden;
	background: #8ea2ca;
}

.sequence-intro {
	position: absolute;
	z-index: 20;
	height: 400px;
	width: 946px;
	margin: 0 5px;
	background-color: @blue;
	overflow: hidden;
	box-shadow: inset -3px 6px 3px -5px rgba(0, 0, 0, 0.3);
	.info0 {
		background-image: url('/images/slideshow/rays.png');
		height: 700px;
		position: absolute;
		width: 100%;
		opacity: .34;
		top: -120px;
		left: 10px;
	}
	.info01 {
		width: 100%;
		text-align: left;
		top: 35px;
		left: 30px;
		position: absolute;
		h1 {
			color: @white;
			font-size: 3em;
			text-shadow: 3px 3px @blue;
			text-transform: uppercase;
			span {
				color: @pink;
			}
			&:nth-child(2) {
				font-size: 5em;
				line-height: 1.5em;
				text-shadow: 5px 5px @blue;
			}
		}
		h2 {
			color: lighten(@blue, 25%);
			.metaBook();
			text-decoration: underline;
			margin-top: 240px;
			cursor: pointer;
			&:hover {
				color: @white;
			}
		}
	}
	.info02 {
		background-image: url('/images/slideshow/charles.png');
		background-size: 500px 500px;
		height: 500px;
		position: absolute;
		width: 500px;
		opacity: 1;
		top: 110px;
		left: 455px;
	}
	.info03 {
		height: 153.6px;
		position: absolute;
		width: 364px;
		opacity: 1;
		top: 134px;
		left: 33px;
	}	
}








/* -------------------------------------------------------------------------------- */

// SEQUENCE

#sequence {
	width: 946px;
	height: 700px;
	margin: 0 5px;
	/* margin: 6.5625em auto; */
	/* border: 1px solid darken(@blue, 10%); */
	position: relative;
	overflow: hidden;
	box-shadow: inset -3px 6px 1px -5px rgba(0, 0, 0, 0.3);
	> .sequence-canvas {  /* required */
	    height: 100%; 
	    width: 100%;
		> li {  /* required */ 
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    z-index: 1;
			> * {  /* required */
			    position: absolute;
			}
		}
	}
}

.sequence-canvas {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.sequence-buttons {
	display: none;
	position: absolute;
	width: 946px;
	top: 460px;
	z-index: 19;
	.sequence-prev {
		left: -85px;
		cursor: pointer;
		position: absolute;
		/* background-image: url('/images/slideshow/back_next-arrows.png'); */
		width: 75px;
		height: auto;
	}
	.sequence-next {
		cursor: pointer;
		position: absolute;
		right: -95px;
		/* background-image: url('/images/slideshow/back_next-arrows.png'); */
		width: 75px;
		height: auto;
		background-position: 15px 0;
	}
	.sequence-next, .sequence-prev {
		opacity: .4;
		&:hover {
			opacity: .5;
		}
	}
}

.sequence-border {
	background-color: @lighterblue;
	height: 20px;
	width: 946px;
	margin-left: -5px;
	box-shadow: 0px -5px 2px -5px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 40;
}


#sequence {
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 0
	
	.info0 {
		background-image: url('/images/slideshow/rays.png');
		height: 700px;
		width: 100%;
		opacity: .34;
		top: -150px;
	}
	
	.info01 {
		width: 100%;
		text-align: center;
		top: 149px;
		
	}
	

	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 1
	
	
	.info1 {
	    top: 80px;
	    opacity: 0;
	    width: 100%;
	    h1 {
		    text-align: center;
	    }
	}
	
	.info2 {
	    top: 442px;
	    left: 132px;
	    opacity: 0;
	    h2 {
	    	color: lighten(@blue, 22%);
	    }
	}
	
	.info3 {
	    top: 440px;
	    left: 415px;
	    opacity: 0;
	    width: 200px;
	    text-align: center;
	    h2 {
	    	color: lighten(@blue, 15%);
	    }
	}
	
	.info4 {
	    top: 225px;
	    left: 373px;
	    opacity: 0;
	    text-align: center;
	    h2 {
	    	color: lighten(@blue, 22%);
	    }	
	}
	
	.info5 {
	    top: 366px;
	    left: 647px;
	    opacity: 0;
	    width: 200px;
	    text-align: center;
	    h2 {
	    	color: lighten(@blue, 15%);
	    }	
	}
	
	.info6 {
	    top: 225px;
	    left: 122px;
	    opacity: 0;
	    width: 200px;
	    text-align: center;
	    h2 {
	    	color: lighten(@blue, 15%);
	    }	
	}
	
	.info7 {
	    top: 330px;
	    left: 112px;
	    opacity: 0;
	    width: 200px;
	    text-align: center;
	    h2 {
	    	color: lighten(@blue, 7%);
	    }		
	}
	
	.info8 {
	    top: 262px;
	    left: 637px;
	    opacity: 0;
	    width: 200px;
	    text-align: center;
	    h2 {
	    	color: lighten(@blue, 7%);
	    }
	}
	
	.info9 {
	    top: 295px;
	    left: 340px;
	    opacity: 0;
	    width: 200px;
	    text-align: center;
	    h2 {
	    	.proximaBL();
	    	color: @white;
	    	font-size: 4.1em;
	    	line-height: .9em;
	    }	
	}
	
	.info1, .info2, .info3, .info4, .info5, .info6, .info7, .info8, .info9 {
	    opacity: 0;
	    .transition-duration(1s);
	}
	
	.info2, .info3, .info4, .info5, .info6, .info7, .info8, .info9 {
		h2 {
			cursor: pointer;
		}
	}
	
	.animate-in {
		.info1, .info2, .info3, .info4, .info5, .info6, .info7, .info8, .info9 {
		    opacity: 1;
		    -webkit-transition-duration: 1s;
		    -moz-transition-duration: 1s;
		    -o-transition-duration: 1s;
		    -ms-transition-duration: 1s;
		    transition-duration: 1s;
		}
		.info1 {
		    .transition-delay(.5s);
		}
		.info2 {
		    .transition-delay(1.5s);
		}
		.info3 {
		    .transition-delay(1.7s);
		}
		.info4 {
		    .transition-delay(1.9s);
		}
		.info5 {
		    .transition-delay(2.1s);
		}
		.info6 {
		    .transition-delay(2.3s);
		}
		.info7 {
		    .transition-delay(2.5s);
		}
		.info8 {
		    .transition-delay(2.7s);
		}
		.info9 {
		    .transition-delay(2.9s);
		}
	}
	.animate-out {
		.info1, .info2, .info3, .info4, .info5, .info6, .info7, .info8, .info9 {
		    opacity: 0;
		    -webkit-transition-duration: 1s;
		    -moz-transition-duration: 1s;
		    -o-transition-duration: 1s;
		    -ms-transition-duration: 1s;
		    transition-duration: 1s;
		    .transition-delay(0s);	
		}
	}
	
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 2
	
	.info10 {
		top: -110px; 
		left: 0px;
		background-color: @blue;
		height: 120px;
		width: 100%;
	}
	.info11, .info12, .info13, .info14, .info15 {
		top: -110px;
		left: 290px;
		width: 500px;
		h3 {
			color: lighten(@blue, 22%);
			.metaBook();
		}
		h3:before {
			height: 14px;
			width: 14px;
			background-color: lighten(@blue, 22%);
			position: absolute;
			left: -30px;
			top: 5px;
			content: "";
		}
	}
	.info16 {
		bottom: -200px;
		padding: 50px;
		color: @white;
/*
		h1 {
			text-align: left;
		}
*/
	}
	.animate-in {
		.info10, .info11, .info12, .info13, .info14, .info15, .info16 {
			.transition-duration(1s);
		    .intro-tansition();
		}
		.info10 {
			top: 0;
			padding-top: 80px;
			z-index: 12;
			.transition-delay(0s);
		}
		.info11 {
			top: 220px;
			.transition-delay(.5s);
		}
		.info12 {
			top: 260px;
			.transition-delay(.9s);
		}
		.info13 {
			top: 300px;
			.transition-delay(1.3s);
		}
		.info14 {
			top: 340px;
			.transition-delay(1.7s);
		}
		.info15 {
			top: 380px;
			.transition-delay(2.1s);
		}
		.info16 {
			bottom: 21px;
			.transition-delay(2.8s);
		}
	}
	.animate-out {
		.info10, .info11, .info12, .info13, .info14, .info15, .info16 {
			.transition-duration(1s);
		    opacity: 0;
		}
		.info10 {
			left: -1200px;
			top: 0;
		}
		.info11, .info12, .info13, .info14, .info15 {
			left: 980px;
		}
		.info11 {
			top: 230px;
		}
		.info12 {
			top: 270px;
		}
		.info13 {
			top: 310px;
		}
		.info14 {
			top: 350px;
		}
		.info15 {
			top: 390px;
		}
		.info16 {
			left: -1200px;
			bottom: 61px;
		}
	}
	
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 3
	
	.info17, .info18, .info19, .info20, .info21, .info22, .info23, .info24, .info25, .info26 {
		opacity: 0;
		.transition-duration(1s);
	}
	
	.info19, .info20, .info21, .info22, .info23, .info24, .info25, .info26 {
		h4 {
			text-align: center;
		}
		&:before {
			position: absolute;
			content:"";
			background-color: @white;
			height: 4px;
			width: 4px;
			border-radius: 2px;
		}
		&:after {
			position: absolute;
			content:"";
			background-color: @white;
			width: 1px;
		}
	}
	
	.info17 {
		top: 80px;
		h1 {
			.proximaB();
		}
	}
	.info18 { 			/* image */
		width: 946px;
		bottom: 0;
		/* left: 5px; */
		.transition-delay(0s);
		img {
			width: 100%;
		}
	}
	.info19 {
		top: 480px;
		left: 115px;
		.transition-delay(2);
		&:before {  /* Dot */
			top: -44px;
			left: 15px;
		}
		&:after {  /* Line */
			height: 49px;
			top: -44px;
			left: 27px;
			.rotate(-25deg);
		}
	}
	.info20 {
		top: 393px;
		left: 215px;
		.transition-delay(2);
		&:before {  /* Dot */
			top: -45px;
			left: 35px;
		}
		&:after {  /* Line */
			height: 49px;
			top: -44px;
			left: 41px;
			.rotate(-11deg);
		}
	}
	.info21 {
		top: 265px;
		left: 245px;
		.transition-delay(2);
		&:before {  /* Dot */
			top: 40px;
			left: 45px;
		}
		&:after {  /* Line */
			height: 20px;
			top: 24px;
			left: 48px;
			.rotate(11deg);
		}
	}
	.info22 {
		top: 231px;
		left: 371px;
		&:before {  /* Dot */
			top: 64px;
			left: 40px;
		}
		&:after {  /* Line */
			height: 20px;
			top: 45px;
			left: 45px;
			.rotate(18deg);
		}
	}
	.info23 {
		top: 445px;
		left: 377px;
		&:before {  /* Dot */
			top: -24px;
			left: 30px;
		}
		&:after {  /* Line */
			height: 30px;
			top: -22px;
			left: 27px;
			.rotate(16deg);
		}
	}
	.info24 {
		top: 250px;
		left: 510px;
		&:before {  /* Dot */
			top: 36px;
			left: 10px;
		}
		&:after {  /* Line */
			height: 17px;
			top: 22px;
			left: 18px;
			.rotate(40deg);
		}
	}
	.info25 {
		top: 257px;
		left: 690px;
		&:before {  /* Dot */
			top: 47px;
			left: 47px;
		}
		&:after {  /* Line */
			height: 22px;
			top: 28px;
			left: 44px;
			.rotate(-24deg);
		}
	}
	.info26 {
		top: 385px;
		left: 680px;
		&:before {  /* Dot */
			top: -10px;
			left: 35px;
		}
		&:after {  /* Line */
			height: 17px;
			top: -11px;
			left: 45px;
			.rotate(-55deg);
		}
	}
	
	.animate-in {
		.info17, .info18, .info19, .info20, .info21, .info22, .info23, .info24, .info25, .info26 {
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0);
			.transition-duration(1s);
		}
		.info17 {
			.transition-delay(.5s);
		}
		.info18 { 			/* image */
			.transition-delay(.5s);
		}
		.info19 {
			.transition-delay(1.2s);
		}
		.info20 {
			.transition-delay(1.4s);
		}
		.info21 {
			.transition-delay(1.6s);
		}
		.info22 {
			.transition-delay(1.8s);
		}
		.info23 {
			.transition-delay(2s);
		}
		.info24 {
			.transition-delay(2.2s);
		}
		.info25 {
			.transition-delay(2.4s);
		}
		.info26 {
			.transition-delay(2.6s);
		}
	}
	
	.animate-out {
		.info17, .info18, .info19, .info20, .info21, .info22, .info23, .info24, .info25, .info26 {
			-webkit-transform: translate3d(0, 0, 0);
			.transition-duration(1s);
			opacity: 0;
		}
		.info17 {
			top: 1087px;
		}
		.info18 { 			/* image */
			opacity: 0;
		}
		.info19 {
			top: 1085px;
		}
		.info20 {
			top: 992px;
		}
		.info21 {
			top: 850px;
		}
		.info22 {
			top: 836px;
		}
		.info23 {
			top: 1050px;
		}
		.info24 {
			top: 835px;
		}
		.info25 {
			top: 862px;
		}
		.info26 {
			top: 990px;
		}
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 4
	
	.info27 {
		top: -110px;
		padding: 0 80px;
		.transition-duration(1s);
		h1 {
			text-align: left;
		}
	}
	
	.info28 {
		width: 182px;
		height: 185px;
/*
		background-image: url('/images/slideshow/stamps.png');
		background-position: 636px 375px;
*/
		top: 255px;
		left: 80px;
		/* .rotate(3deg); */
	}
	.info29 {
		width: 256px;
		height: 121px;
/*
		background-image: url('/images/slideshow/stamps.png');
		background-position: -33px -9px;
*/
		top: 280px;
		left: 287px;
		/* .rotate(-4deg); */
	}
	.info30 {
		width: 182px;
		height: 185px;
/*
		background-image: url('/images/slideshow/stamps.png');
		background-position: 360px 529px;
*/
		top: 475px;
		left: 97px;
		/* .rotate(12deg); */
	}
	.info31 {
		width: 256px;
		height: 121px;
/*
		background-image: url('/images/slideshow/stamps.png');
		background-position: -33px -155px;
*/
		top: 477px;
		left: 327px;
		/* .rotate(5deg); */
	}
	.info32 {
		width: 182px;
		height: 185px;
/*
		background-image: url('/images/slideshow/stamps.png');
		background-position: 408px 318px;
*/
		top: 426px;
		left: 625px;
		/* .rotate(-4deg); */
	}
	.info33 {
		width: 282px;
		height: 127px;
/*
		background-image: url('/images/slideshow/stamps.png');
		background-position: -387px -9px;
*/
		top: 255px;
		left: 580px;
		/* .rotate(2deg); */
	}
	
	.info28, .info29, .info30, .info31, .info32, .info33 {
		opacity: 0;
		.transition-duration(1s);
	}
	
	.animate-in {
		.info28, .info29, .info30, .info31, .info32, .info33 {
			opacity: 1;
			.transition-delay(.7s);
			.transition-duration(1s);
		}
		.info27 {
			top: 80px;
			padding: 0 80px;
			.transition-delay(.7s);
			transition: all 1s ease-in-out;
		}
		.info28 {
			.transition-delay(1.5s);
		}
		.info29 {
			.transition-delay(1.7s);
		}
		.info30 {
			.transition-delay(1.9s);
		}
		.info31 {
			.transition-delay(2.1s);
		}
		.info32 {
			.transition-delay(2.3s);
		}
		.info33 {
			.transition-delay(2.5s);
		}
	}
	
	.animate-out {
		.info27, .info28, .info29, .info30, .info31, .info32, .info33 {
			opacity: 0;
			transition: all .5s ease-in-out;
			.transition-duration(.5s);
		}
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 5
	
	.info34 {
		background-image: url('/images/slideshow/rays.png');
		height: 100%;
		width: 100%;
		opacity: 0;
		.transition-duration(.5s);
	}
	
	.info35 {
		background-image: url('/images/slideshow/charles.png');
		height: 420px;
		width: 420px;
		background-size: 420px 420px;
		top: 100px;
		left: 256px;
		.scale(0);
		.transition-duration(1s);
	}
	
	.info36 {
		width: 100%;
		text-align: center;
		bottom: -60px;
		opacity: 0;
		.transition-duration(1s);
		h1 {
			.proximaB();
			font-size: 3em;
			text-transform: none;
		}
	}
	
	.info34, .info35, .info36 {
		.transition-duration(1s);
		-webkit-transition-duration: 1s;
	    -moz-transition-duration: 1s;
	    -o-transition-duration: 1s;
	    -ms-transition-duration: 1s;
	    transition-duration: 1s;
	}
	
	.animate-in {
		.info34 {
			opacity: .34;
			transition: all 1s ease-in-out;
			.transition-delay(.5s);
			.transition-duration(1s);
		}
		.info35 {
			.scale(1);
			transition: all 1s ease-in-out;
			.transition-delay(1s);
			.transition-duration(1s);
		}
		.info36 {
			bottom: 60px;
			opacity: 1;
			transition: all .5s ease-in-out;
			.transition-delay(2s);
			.transition-duration(.5s);
		}
	}
	
	.animate-out {
		.info34, .info35 {
			opacity: 0;
			transition: all 1s ease-in-out;
			.transition-duration(1s);
			.transition-duration(1s);
		}
		.info36 {
			.proximaBL();
			/* bottom: 60px; */
			bottom: 556px;
			opacity: 0;
			transition: bottom 1s ease-in-out, opacity 1s ease-in-out 2s;
			.transition-duration(1s);
		}
	}
	
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 6
	
	.info37 {
		/* display: none; */
		width: 100%;
		text-align: center;
		top: 80px;
		h1 {
			.proximaB();
			font-size: 3em;
			line-height: 1.4em;
		}
	}

	.info37-1 {
		top: 160px;
		width: 100%;
		height: 1px;
		background-color: lighten(@blue, 22%);
	}
	
	.info38 {
		width: 78%;
		text-align: left;
		top: 210px;
		margin: 0 11%;
		h1 {
			.proximaR();
			font-size: 2.7em;
			line-height: 1.4em;
		}
		h1 {
			color: lighten(@blue, 22%);
			.metaBook();
		}
	}
	
	.info39 {
		text-align: center;
		top: 430px;
		height: 400px;
/*
		background-color: darken(@blue, 3%);
		border-radius: 10px;
*/
		h1 {
			.proximaB();
			font-size: 3em;
			line-height: 1.4em;
			width: 78%;
			margin: 0 11%;
			/* padding-top: 20px; */
		}

	}
	
	.info37, .info38 h1, .info39, .info37-1 {
		opacity: 0;
		transition: all 1s ease-in-out;
		.transition-duration(1s);
		h1 {
			text-transform: none;
		}
	}
	
	.animate-in {
		.info37, .info38 h1, .info39, .info37-1 {
			opacity: 1;
			transition: all 1s ease-in-out;
			.transition-duration(1s);
		}
		.info37 {
			.transition-delay(1s);
		}
		.info38 {
			h1:nth-child(1) {
				.transition-delay(1.4s);
			}
			h1:nth-child(2) {
				.transition-delay(1.8s);
			}
			h1:nth-child(3) {
				.transition-delay(2.4s);
			}
		}
		.info39 {
			.transition-delay(3.2s);
		}
	}
	
	.animate-out {
		.info38 h1, .info39, .info37-1 {
			opacity: 0;
			transition: all .7s ease-in-out;
			.transition-duration(.7s);
		}
		.info37 {
			opacity: 0;
			transition: opacity .7s ease-in-out;
			.transition-duration(.7s);
			.transition-delay(0s);
		}
	}
	
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 7
	
	.info40 {
		width: 100%;
		text-align: center;
		top: 80px;
		h1 {
			.proximaBL();
			font-size: 3em;
			line-height: 1.4em;
			text-transform: none;
		}
	}
	
	.info41 {
		width: 78%;
		margin: 0 11%;
		h3 {
			color: lighten(@blue, 22%);
			font-size: 25.4px;
			line-height: 1.35em;
			margin-bottom: 40px;
		}
		top: 230px;
	}
	
	.info40, .info41 {
		opacity: 0;
	}
	
	.animate-in {
		.info40, .info41 {
			opacity: 1;
			transition: all 1s ease-in-out;
			.transition-delay(1s);
		}
	}
	
	.animate-out {
		.info40, .info41 {
			opacity: 0;
			transition: all 1s ease-in-out;
		}
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 8
	
	.info42 {
		background-image: url('/images/slideshow/rays.png');
		height: 100%;
		width: 100%;
		/* opacity: .34; */
	}
	
	.info44, .info45, .info46, .info46-1 {
		h1 {
			font-size: 3.6em;
			span {
				color: lighten(@blue, 15%);
			}
		}
	}
/*
	.info44, .info45, .info46-1 {
		h1 {
			cursor: pointer;
		}
	}
*/
	
	.info43 {
		width: 84%;
		margin: 0 8%;
		top: 200px;
		h3 {
			font-size: 3.7em;
			line-height: 1.3em;
			text-align: center;
			color: lighten(@blue, 25%);
		}
	}
	
	.info44 {
		top: 380px;
		left: 94px;
	}
	
	.info45 {
		top: 380px;
		left: 312px;
	}
	
	.info46 {
		top: 380px;
		left: 549px;
		h1 {
			text-transform: none;
		}
	}
	.info46-1 {
		top: 380px;
		left: 666px;
	}
	
	.info42, .info43, .info44, .info45, .info46, .info46-1 {
		opacity: 0;
		transition: all 1s ease-in-out;
		.transition-duration(1s);
	}
	
	.animate-in {
		.info43, .info44, .info45, .info46, .info46-1 {
			opacity: 1;
			transition: all .5s ease-in-out;
			.transition-duration(.5s);
		}
		.info42 {
			opacity: .34;
			transition: all 1s ease-in-out;
			.transition-delay(.7s);
			.transition-duration(1s);
		}
		.info43 {
			.transition-delay(1.2s);
		}
		.info44 {
			.transition-delay(1.7s);
		}
		.info45 {
			.transition-delay(2s);
		}
		.info46 {
			.transition-delay(2.3s);
		}
		.info46-1 {
			.transition-delay(2.5s);
		}
	}
	
	.animate-out {
		.info42, .info43, .info44, .info45, .info46, .info46-1 {
			opacity: 0;
			transition: all .7s ease-in-out;
			.transition-duration(.7s);
		}
	} 
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 9
	
	.info47 {
		top: 60px;
		left: 100px;
		h1 {
			letter-spacing: 2px;
			text-shadow: 2px 2px lighten(@blue, 7%);
		}
	}
	
	.info47-1 {
		top: 145px;
		width: 100%;
		height: 1px;
		background-color: lighten(@blue, 22%);
	}
	
	.info48 {
		top: 145px;
		left: 100px;
		width: 75%;
		h5 span {
			.proximaB();
		}
	}
	
	.info48-1 {
		bottom: 110px;
		width: 100%;
		text-align: center;
		a {
			margin: 0 auto;
			font-size: 1.5em;
			line-height: 1.3em;
			padding: 12px 25px;
			background-color: lighten(@blue, 14%);
			box-shadow: none;
			&:hover {
				background-color: lighten(@blue, 8%);
			}
		}
	}
	
	.info47, .info48, .info47-1, .info48-1 {
		opacity: 0;
		.transition-duration(1s);
	}
	
	.animate-in {
		.info47, .info48, .info47-1, .info48-1 {
			opacity: 1;
			transition: all .7s ease-in-out;
			.transition-duration(.7s);
		}
		.info47, .info47-1 {
			.transition-delay(.2s);
		}
		.info48 {
			.transition-delay(.7s);
		}
		.info48-1 {
			.transition-delay(1.2s);
		}
	}
	
	.animate-out {
		.info47, .info48, .info47-1, .info48-1 {
			opacity: 0;
			transition: all .7s ease-in-out;
			.transition-duration(.7s);
		}
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 10
	
	.info49 {
		top: 60px;
		left: 100px;
		h1 {
			letter-spacing: 2px;
			text-shadow: 2px 2px lighten(@blue, 7%);
		}
	}
	
	.info50 {
		top: 145px;
		width: 100%;
		height: 1px;
		background-color: lighten(@blue, 22%);
	}
	
	.info51 {
		top: 260px;
		left: 100px;
		width: 400px;
		h5 {
			font-size: 4.5em;
			line-height: 1.2em;
			.proximaR();
		}
	}
	
	.info52 {
		right: 100px;
		top: 260px;
		.circle {
			width: 266px;
			height: 266px;
			border-radius: 50%;
			background-color: @white;
			box-shadow: 4px 4px 0 lighten(@blue, 10%);
			background-image: url('/images/slideshow/Screen_Shot_1.png');
			background-position: 625px 649px;
			.rotate(-15deg);
		}
	}
	
	.info49, .info50, .info51, .info52 {
		opacity: 0;
	}
	
	.animate-in {
		.info49, .info50, .info51, .info52 {
			opacity: 1;
			transition: all 1s ease-in-out;
		}
		.info50, .info51, .info52 {
			.transition-delay(1s);
		}
		.info52 .circle {
			background-position: 725px 649px;
			transition-property: background-position;
			transition-duration: 10s;
		}
	}
	
	.animate-out {
		.info49, .info50, .info51, .info52 {
			opacity: 0;
		}
		.info49, .info50 {
			.transition-delay(2s);
		}
		.info51, .info52 {
			transition: all 1s ease-in-out;
		}
		.info52 .circle {
			background-position: 725px 649px;
			transition-property: background-position;
			transition-duration: 10s;
		}
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 11
	
	.info53 {
		top: 60px;
		left: 100px;
		h1 {
			letter-spacing: 2px;
			text-shadow: 2px 2px lighten(@blue, 7%);
		}
	}
	
	.info54 {
		top: 145px;
		width: 100%;
		height: 1px;
		background-color: lighten(@blue, 22%);
	}
	
	.info55 {
		top: 260px;
		left: 100px;
		width: 400px;
		h5 {
			font-size: 4.5em;
			line-height: 1.2em;
			.proximaR();
		}
	}
	
	.info56 {
		right: 100px;
		top: 260px;
		.circle {
			width: 266px;
			height: 266px;
			border-radius: 50%;
			background-color: @white;
			box-shadow: 4px 4px 0 lighten(@blue, 10%);
			background-image: url('/images/slideshow/Screen_Shot_2.png');
			background-position: 950px 684px;
			.rotate(-15deg);
		}
	}
	
	.info53, .info54, .info55, .info56 {
		opacity: 0;
	}
	
	.animate-in {
		.info53, .info54, .info55, .info56 {
			opacity: 1;
			transition: all 1s ease-in-out;
			.transition-delay(1s);
		}
		.info56 .circle {
			background-position: 950px 784px;
			transition-property: background-position;
			transition-duration: 10s;
		}
	}
	
	.animate-out {
		.info53, .info54, .info55, .info56 {
			opacity: 0;
			transition: all 1s ease-in-out;
		}
		.info56 .circle {
			background-position: 950px 784px;
			transition-property: background-position;
			transition-duration: 10s;
		}
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 12
	
	.info57 {
		top: 60px;
		left: 100px;
		h1 {
			letter-spacing: 2px;
			text-shadow: 2px 2px lighten(@blue, 7%);
		}
	}
	
	.info58 {
		top: 125px;
		left: 100px;
		width: 800px;
		h5 {
			font-size: 4.1em;
			line-height: 1.1em;
			.proximaR();
		}
	}
	
	.info59 {
		top: 298px;
		width: 100%;
		height: 1px;
		background-color: lighten(@blue, 22%);
	}
	
	.info60 {
		left: 100px;
		top: 325px;
		width: 732px;
		p {
			font-size: 2.8em;
			line-height: 1.5em;
			color: lighten(@blue, 15%);
		}
		small {
			float: right;
			.proximaR();
			font-size: 1.9em;
			margin-top: 15px;
		}
	}
	
	.info57, .info58, .info59, .info60 {
		opacity: 0;
	}
	
	.animate-in {
		.info57, .info58, .info59, .info60 {
			opacity: 1;
			transition: all 1s ease-in-out;
		}	
	}
	
	.animate-out {
		.info57, .info58, .info59, .info60 {
			opacity: 0;
			transition: all 1s ease-in-out;
		}	
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 13
	
	.info61 {
		top: 50px;
		width: 100%;
		img {
			width: 95%;
			margin: 0 2.5%;
		}
	}
	
	.info62 {
		bottom: -80px;
		width: 100%;
		margin: 0;
		h1 {
			text-align: center;
			font-size: 2.2em;
			line-height: 1.5em;
			text-transform: none;
		}
	}
	
	.info61, .info62 {
		opacity: 0;
		.transition-duration(.7s);
	}
	
	.animate-in {
		.info61, .info62 {
			opacity: 1;
			transition: all .7s ease-in-out;
			.transition-delay(1s);
			.transition-duration(.7s);
		}
		.info62 {
			bottom: 40px;
		}	
	}
	
	.animate-out {
		.info61, .info62 {
			opacity: 0;
			transition: all .7s ease-in-out;
			.transition-duration(.7s);
		}	
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 14
	
	.info63 {
		top: 60px;
		left: 100px;
		h1 {
			letter-spacing: 2px;
			text-shadow: 2px 2px lighten(@blue, 7%);
		}
	}

	.info63-1 {
		top: 145px;
		width: 100%;
		height: 1px;
		background-color: lighten(@blue, 22%);
	}
	
	.info64 {
		top: 145px;
		left: 100px;
		width: 71%;
		h5 span {
			.proximaB();
		}
	}
	
	.info64-1 {
		bottom: 110px;
		width: 100%;
		text-align: center;
		a {
			margin: 0 auto;
			font-size: 1.5em;
			line-height: 1.3em;
			padding: 12px 25px;
			background-color: lighten(@blue, 14%);
			box-shadow: none;
			&:hover {
				background-color: lighten(@blue, 8%);
			}
		}
	}
	
	.info63, .info64, .info63-1, .info64-1 {
		opacity: 0;
		.transition-duration(.7s);
	}
	
	.animate-in {
		.info63, .info64, .info63-1, .info64-1 {
			opacity: 1;
			transition: all .7s ease-in-out;
			.transition-duration(.7s);
		}
		.info63, .info63-1 {
			.transition-delay(.2s);
		}
		.info64 {
			.transition-delay(.7s);
		}
		.info64-1 {
			.transition-delay(1.2s);
		}
	}
	
	.animate-out {
		.info63, .info64, .info63-1, .info64-1 {
			opacity: 0;
			transition: all .7s ease-in-out;
			.transition-duration(.7s);
		}
	}
	
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 15
	
	.info65 {
		top: 60px;
		left: 100px;
		h1 {
			letter-spacing: 2px;
			text-shadow: 2px 2px lighten(@blue, 7%);
		}
	}
	
	.info66 {
		top: 145px;
		width: 100%;
		height: 1px;
		background-color: lighten(@blue, 22%);
	}
	
	.info67 {
		top: 200px;
		left: 100px;
		width: 425px;
		h5 {
			font-size: 4.2em;
			line-height: 1.1em;
			.proximaR();
		}
	}
	
	.info68 {
		right: 80px;
		top: 260px;
		.circle {
			width: 266px;
			height: 266px;
			border-radius: 50%;
			background-color: @white;
			box-shadow: 4px 4px 0 lighten(@blue, 10%);
			background-image: url('/images/slideshow/Screen_Shot_1.png');
			background-position: 625px 649px;
			.rotate(-15deg);
		}
	}
	
	.info65, .info66, .info67, .info68 {
		opacity: 0;
	}
	
	.animate-in {
		.info65, .info66, .info67, .info68 {
			opacity: 1;
			transition: all 1s ease-in-out;
			.transition-delay(1s);
		}
		.info68 .circle {
			background-position: 725px 649px;
			transition-property: background-position;
			transition-duration: 10s;
		}
	}
	
	.animate-out {
		.info65, .info66, .info67, .info68 {
			opacity: 0;
			transition: all 1s ease-in-out;
		}
		.info65, .info66 {
			.transition-delay(2s);
		}
		.info68 .circle {
			background-position: 725px 649px;
			transition-property: background-position;
			transition-duration: 10s;
		}
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 16
	
	.info69 {
		top: 60px;
		left: 100px;
		h1 {
			letter-spacing: 2px;
			text-shadow: 2px 2px lighten(@blue, 7%);
		}
	}
	
	.info70 {
		top: 145px;
		width: 100%;
		height: 1px;
		background-color: lighten(@blue, 22%);
	}
	
	.info71 {
		top: 200px;
		left: 100px;
		width: 480px;
		h5 {
			font-size: 4.2em;
			line-height: 1.1em;
			.proximaR();
		}
	}
	
	.info72 {
		right: 80px;
		top: 260px;
		.circle {
			width: 266px;
			height: 266px;
			border-radius: 50%;
			background-color: @white;
			box-shadow: 4px 4px 0 lighten(@blue, 10%);
			background-image: url('/images/slideshow/Screen_Shot_2.png');
			background-position: 950px 684px;
			.rotate(-15deg);
		}
	}
	
	.info69, .info70, .info71, .info72 {
		opacity: 0;
	}
	
	.animate-in {
		.info69, .info70, .info71, .info72 {
			opacity: 1;
			transition: all 1s ease-in-out;
			.transition-delay(1s);
		}
		.info72 .circle {
			background-position: 950px 784px;
			transition-property: background-position;
			transition-duration: 10s;
		}
	}
	
	.animate-out {
		.info69, .info70, .info71, .info72 {
			opacity: 0;
			transition: all 1s ease-in-out;
		}
		.info72 .circle {
			background-position: 950px 784px;
			transition-property: background-position;
			transition-duration: 10s;
		}
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 17
	
	.info73 {
		top: 60px;
		left: 100px;
		h1 {
			letter-spacing: 2px;
			text-shadow: 2px 2px lighten(@blue, 7%);
		}
	}
	
	.info74 {
		top: 125px;
		left: 100px;
		width: 800px;
		h5 {
			font-size: 4.1em;
			line-height: 1.1em;
			.proximaR();
		}
	}
	
	.info75 {
		top: 298px;
		width: 100%;
		height: 1px;
		background-color: lighten(@blue, 22%);
	}
	
	.info76 {
		left: 100px;
		top: 325px;
		width: 732px;
		p {
			font-size: 2.8em;
			line-height: 1.5em;
			color: lighten(@blue, 15%);
		}
		small {
			float: right;
			.proximaR();
			font-size: 1.9em;
			margin-top: 15px;
		}
	}
	
	.info73, .info74, .info75, .info76 {
		opacity: 0;
	}
	
	.animate-in {
		.info73, .info74, .info75, .info76 {
			opacity: 1;
			transition: all 1s ease-in-out;
			.transition-delay(1s);
		}	
	}
	
	.animate-out {
		.info73, .info74, .info75, .info76 {
			opacity: 0;
			transition: all 1s ease-in-out;
		}	
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 18
	
	.info77 {
		top: 60px;
		left: 100px;
		h1 {
			letter-spacing: 2px;
			text-shadow: 2px 2px lighten(@blue, 7%);
		}
	}
	
	.info77-1 {
		top: 145px;
		width: 100%;
		height: 1px;
		background-color: lighten(@blue, 22%);
	}
	
	.info78 {
		top: 145px;
		left: 100px;
		width: 81%;
		h5 span {
			.proximaB();
		}
	}
	
	.info78-1 {
		bottom: 110px;
		width: 100%;
		text-align: center;
		a {
			margin: 0 auto;
			font-size: 1.5em;
			line-height: 1.3em;
			padding: 12px 25px;
			background-color: lighten(@blue, 14%);
			box-shadow: none;
			&:hover {
				background-color: lighten(@blue, 8%);
			}
		}
	}
	
	.info77, .info78, .info77-1, .info78-1 {
		opacity: 0;
		.transition-duration(.7s);
	}
	
	.animate-in {
		.info77, .info78, .info77-1, .info78-1 {
			opacity: 1;
			transition: all .7s ease-in-out;
			.transition-duration(.7s);
		}
		.info77, .info77-1 {
			.transition-delay(.2s);
		}
		.info78 {
			.transition-delay(.7s);
		}
		.info78-1 {
			.transition-delay(1.2s);
		}
	}
	
	.animate-out {
		.info77, .info78, .info77-1, .info78-1 {
			opacity: 0;
			transition: all .7s ease-in-out;
			.transition-duration(.7s);
		}
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 19
	
	.info79 {
		top: 60px;
		left: 100px;
		h1 {
			letter-spacing: 2px;
			text-shadow: 2px 2px lighten(@blue, 7%);
		}
	}
	
	.info80 {
		top: 145px;
		width: 100%;
		height: 1px;
		background-color: lighten(@blue, 22%);
	}
	
	.info81 {
		top: 200px;
		left: 100px;
		width: 480px;
		h5 {
			font-size: 4.2em;
			line-height: 1.1em;
			.proximaR();
		}
	}
	
	.info82 {
		right: 80px;
		top: 260px;
		.circle {
			width: 266px;
			height: 266px;
			border-radius: 50%;
			background-color: @white;
			box-shadow: 4px 4px 0 lighten(@blue, 10%);
			background-image: url('/images/slideshow/Screen_Shot_2.png');
			background-position: 950px 684px;
			.rotate(-15deg);
		}
	}
	
	.info79, .info80, .info81, .info82 {
		opacity: 0;
	}
	
	.animate-in {
		.info79, .info80, .info81, .info82 {
			opacity: 1;
			transition: all 1s ease-in-out;
			.transition-delay(1s);
		}
		.info82 .circle {
			background-position: 950px 784px;
			transition-property: background-position;
			transition-duration: 10s;
		}
	}
	
	.animate-out {
		.info79, .info80, .info81, .info82 {
			opacity: 0;
			transition: all 1s ease-in-out;
		}
		.info82 .circle {
			background-position: 950px 784px;
			transition-property: background-position;
			transition-duration: 10s;
		}
	}
	
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 20
	
	.info83 {
		top: 60px;
		left: 100px;
		h1 {
			letter-spacing: 2px;
			text-shadow: 2px 2px lighten(@blue, 7%);
		}
	}
	
	.info84 {
		left: 100px;
		top: 190px;
		width: 732px;
		p {
			font-size: 2.7em;
			line-height: 1.5em;
			color: lighten(@blue, 15%);
		}
		small {
			float: right;
			.proximaR();
			font-size: 1.9em;
			margin-top: 15px;
		}
	}
	
	.info83, .info84 {
		opacity: 0;
	}
	
	.animate-in {
		.info83, .info84 {
			opacity: 1;
			transition: all 1s ease-in-out;
			.transition-delay(1s);
		}	
	}
	
	.animate-out {
		.info83, .info84 {
			opacity: 0;
			transition: all 1s ease-in-out;
		}	
	}
	
	
	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 21
	
	
	.info85 {
		background-image: url('/images/slideshow/rays.png');
		height: 100%;
		width: 100%;
		/* opacity: .34; */
	}
	
	.info86 {
		background-image: url('/images/slideshow/charles.png');
		height: 220px;
		width: 220px;
		background-size: 220px 220px;
		top: 236px;
		left: 354px;
		
	}
	
	.info87 {
		width: 100%;
		text-align: center;
		bottom: 160px;
		h1 {
			.proximaBL();
			font-size: 1.5em;
			letter-spacing: 1px;
		}
	}
	
	.info85, .info86, .info87 {
		opacity: 0;
	}
	
	.animate-in {
		.info85, .info86, .info87 {
			transition: all 1s ease-in-out;
		}
		.info85 {
			opacity: .34;
			.transition-delay(1.5s);
		}
		.info86, .info87 {
			opacity: 1;
		}
		.info86 {
			.transition-delay(1s);
		}
		.info87 {
			.transition-delay(2.5s);
		}
	}
	
	.animate-out {
		.info85, .info86, .info87 {
			opacity: 0;
			transition: all 1s ease-in-out;
		}
	}


	/* -------------------------------------------------------------------------------- */
	
	// SLIDE 22
	
	.info88 {
		/* background-image: url('/images/slideshow/rays.png'); */
		height: 100%;
		width: 100%;
		opacity: .34;
	}
	
	.info89 {
		/* background-image: url('/images/slideshow/charles.png'); */
		height: 350px;
		width: 350px;
		/* background-size: 220px 220px; */
		top: 100px;
		left: 500px;
		img:last-child {
			margin-left: 30px;
			margin-top: 20px;
		}
		
	}
	
	.info90, .info91, .info92, .info93 {
		width: 100%;
		text-align: center;
		h1 {
			.metaBook();
			font-size: 3em;
			letter-spacing: 1px;
			color: lighten(@blue, 20%);
			a {
				.proximaB();
				border-bottom: 3px solid lighten(@blue, 5%);
				&:hover {
					opacity: 1;
					border-color: lighten(@blue, 15%);
				}
			}
		}
		a {
			color: #fff;
			font-size: 1.1em;
		}
		h3 {
			.metaBook();
			font-size: 3em;
			margin-bottom: 0;
			display: inline-block;
			border-bottom: 3px solid lighten(@blue, 5%);
			a {
				color: lighten(@blue, 25%);
				&:hover {
					color: lighten(@blue, 30%);
				}
			}
			&:hover {
				border-color: lighten(@blue, 15%);
			}
		}
	}
	
	.info90 {
		top: 150px;
	}
	.info91 {
		top: 250px;
	}
	.info92 {
		top: 350px;
	}
	.info93 {
		top: 510px;
	}
	
	
	.info88, .info89, .info90, .info91, .info92, .info93 {
		opacity: 0;
		.transition-duration(1s);
	}
	
	.animate-in {
		.info88, .info89, .info90, .info91, .info92, .info93 {
			transition: all 1s ease-in-out;
			.transition-duration(1s);
		}
		.info88 {
			opacity: .24;
			.transition-delay(1.5s);
		}
		.info89, .info90, .info91, .info92, .info93 {
			opacity: 1;
			.transition-delay(1s);
		}
	}
	
	.animate-out {
		.info88, .info89, .info90, .info91, .info92, .info93 {
			opacity: 0;
			transition: all .5s ease-in-out;
			.transition-duration(.5s);
		}
	}
}

